language: go
go_import_path: go-hep.org/x/hep
os:
  - linux

dist: bionic

env:
 global:
   - ROOT_VERSION=6.18.04

cache:
 directories:
   - $HOME/.cache/go-build
   - $HOME/gopath/pkg/mod
   - $HOME/root-${ROOT_VERSION}

git:
 depth: 10

matrix:
 fast_finish: true
 include:
   - go: 1.13.x
     env:
       - TAGS="-tags=travis"
       - COVERAGE="-coverpkg=go-hep.org/x/hep/..."
   - go: 1.12.x
     env:
       - TAGS="-tags=travis"
   - go: master
     env:
       - TAGS="-tags=travis,noasm"
       - COVERAGE="-race"
       - GOPROXY="https://proxy.golang.org"
       - GO111MODULE="on"

sudo: required

notifications:
  email:
    recipients:
      - go.hep.dev@gmail.com
    on_success: always
    on_failure: always

before_script:
 - sudo apt-get install -qq pkg-config fuse
 - sudo modprobe fuse
 - sudo chmod 666 /dev/fuse
 - sudo chown root:$USER /etc/fuse.conf
 - go run ./ci/install-cxx-root.go -root-version=${ROOT_VERSION} -o=${HOME}
 - source $HOME/root-${ROOT_VERSION}/bin/thisroot.sh
 - root.exe --version

script:
 - go get -d -t -v ./...
 - GOARCH=386   go install -v $TAGS ./...
 - GOARCH=amd64 go install -v $TAGS ./...
 - go run ./ci/run-tests.go $TAGS $COVERAGE

after_success:
 - bash <(curl -s https://codecov.io/bash)
