language: go
go_import_path: go-hep.org/x/hep
os:
  - linux

env:
 - TAGS="-tags travis"

cache:
 directories:
   - $HOME/.cache/go-build
   - $HOME/gopath/pkg/mod

git:
 depth: 10

matrix:
 fast_finish: true
 include:
   - go: 1.9.x
     env:
       - TAGS="-tags travis"
   - go: 1.10.x
     env:
       - TAGS="-tags travis"
   - go: 1.11.x
     env:
       - TAGS="-tags travis"
       - COVERAGE="-coverpkg=go-hep.org/x/hep/..."
   - go: master
     env:
       - TAGS="-tags travis"
       - COVERAGE="-race"
       - GO111MODULE="on"

sudo: required

notifications:
  email:
    recipients:
      - go.hep.dev@gmail.com
    on_success: always
    on_failure: always

before_script:
 - sudo apt-get install -qq pkg-config fuse
 - sudo modprobe fuse
 - sudo chmod 666 /dev/fuse
 - sudo chown root:$USER /etc/fuse.conf

script:
 - go get -d -t -v ./...
 - go install -v $TAGS ./...
 - go run ./ci/run-tests.go $TAGS $COVERAGE

after_success:
 - bash <(curl -s https://codecov.io/bash)
