language: go
go_import_path: go-hep.org/x/hep
go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - master
os:
  - linux
matrix:
 fast_finish: true
 allow_failures:
   - go: master

env:
 - TAGS=""

sudo: required

notifications:
  email:
    recipients:
      - go.hep.dev@gmail.com
    on_success: always
    on_failure: always

before_script:
 - sudo apt-get install -qq pkg-config fuse
 - sudo modprobe fuse
 - sudo chmod 666 /dev/fuse
 - sudo chown root:$USER /etc/fuse.conf

script:
 - go get -d -t -v ./...
 - go install -v $TAGS ./...
 - ./ci/code-coverage.sh

after_success:
 - bash <(curl -s https://codecov.io/bash)
