language: go
go_import_path: go-hep.org/x/hep
go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - master
os:
  - linux
matrix:
 fast_finish: true
 allow_failures:
   - go: master

sudo: false

notifications:
  email:
    recipients:
      - go.hep.dev@gmail.com
    on_success: always
    on_failure: always

script:
 - go get -d -t -v ./...
 - go install -v ./...
 - go test ./...
