language: go
go_import_path: go-hep.org/x/hep
go:
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - master

matrix:
 allow_failures:
   - go: master

sudo: false

notifications:
  email:
    recipients:
      - go.hep.dev@gmail.com
    on_success: always
    on_failure: always

